</main>

<footer>
    <p class="footer_p">Copyright © <%=new Date().getUTCFullYear() %>
    </p>
</footer>
</container>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>


</html>