<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">

</head>

<body>
    <container class="center_screen">
        <main>
            <header>
                <form action="/work" class="header_work" method="POST">
                    <button class="header_button header_work_button">Work</button>
                </form>

                <form action="/today" class="header_today_button" method="POST">
                    <button class="header_button header_today_button">Today</button>
                </form>

            </header>